<script>
    function bindClickEdit() {
        $(".edit").click(function() {
            fetch("/api/loaidt")
                .then(res => res.json())
                .then(data => {
                    var loaiSelectHtml = loaiSelectHbs({
                        loaidts: data
                    });

                    var id = $(this).attr("sp-id");
                    fetch(url + "/" + id)
                        .then(res => res.json())
                        .then(data => {
                            var formAdd = '<input type="hidden" name="sanpham_id" id-sanpham="sanpham_id" value = "{{sanpham_id}}">' +
                                '<div class="them-sp-ndthaotac">' +
                                '<div class="them-sanpham-trai">' +
                                '<label for="sanpham_name" class="the-ten-tm">Tên sản phẩm</label>' +
                                '<br/>' +
                                '<input id="sanpham_name" name="sanpham_name" class="the-input-tm">' +
                                '<br/>' +
                                '<div class="selects-group-product">' +
                                '<div class="select-group">' +
                                '<label for="hang">Hãng điện thoại</label>';

                            formAdd += hangSelectHtml;



                            // thêm nội dung vào modal
                            var editHbs = Handlebars.compile(formAdd);
                            var editHtml = editHbs(data);
                            $("#editDTForm").html(editHtml);
                        });

                });
        });
    }
</script>