<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link th:href="@{https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css}" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />

    <link rel="stylesheet" th:href="@{/css/dashboardst.css}" />
    <title>Danh sách sản phẩm</title>
</head>

<body>

    <div class="sidebar">
        <div class="logo-details" style="text-decoration: none;">
            <a th:href="@{/products}"> <i class='bx bxl-c-plus-plus'></i>
            </a><span class="logo_name">Flee Bounce</span>
        </div>
        <ul class="nav-links">
            <li>
                <a th:href="@{/dashboard}"> <i class='bx bx-grid-alt'></i> <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a th:href="@{/products/list}" class="active"> <i class='bx bx-box'></i> <span class="links_name">Sản phẩm</span>
                </a>
            </li>
            <li>
                <a th:href="@{/category/list}"> <i class='bx bx-list-ul'></i>
                    <span class="links_name">Danh mục</span>
                </a>
            </li>
            <li>
                <a th:href="@{/order/list}"> <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Đơn hàng</span>
                </a>
            </li>
            <li>
                <a th:href="@{#}"> <i class='bx bx-message'></i> <span class="links_name">Tin nhắn</span>
                </a>
            </li>
            <li>
                <a th:href="@{#}"> <i class='bx bx-heart'></i> <span class="links_name">Yêu thích</span>
                </a>
            </li>
            <li>
                <a th:href="@{#}"> <i class='bx bx-cog'></i> <span class="links_name">Cài đặt</span>
                </a>
            </li>
            <li class="log_out">
                <a th:href="@{#}"> <i class='bx bx-log-out'></i>
                    <span class="links_name">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </div>

    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i> <span class="dashboard">Sản phẩm</span>
            </div>

            <div class="profile-details">
                <img src="/images/Hoho.jpg" alt=""> <span class="admin_name">Việt
					Hưng</span> <i class='bx bx-chevron-down'></i>
            </div>
        </nav>
        <h1 style="font-size: 20px; margin: 105px auto 20px; width: 300px; font-weight: 900;">DANH SÁCH SẢN PHẨM</h1>
        <div class="modal fade" id="cModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Sản phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">
                        <form id="cForm">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Đóng
                  </button>
                        <button type="button" id="save" class="btn btn-primary save">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
        <button id="add" style="text-decoration: none;
        color: #444;
        background: #fff;
        border: 1px solid;
        display: inline-block;
        padding: 7px 20px;
        font-weight: bold;
        border-radius: 3px;
        transition: 0.3s ease-in-out;
        border-color: #26a69a;
        margin: 0px 15px 0;
        position: absolute;">Thêm</button>

        <div class="table_responsive ">
            <table>
                <thead>

                    <tr>
                        <th style="text-align: center;">
                            ID
                        </th>
                        <th style="text-align: center;">
                            Tên sản phẩm
                        </th>
                        <th style="text-align: center;">
                            Giá bán
                        </th>
                        <th style="text-align: center;">
                            Ngày tạo
                        </th>
                        <th style="text-align: center;">
                            Danh mục
                        </th>
                        <th style="text-align: center;">
                            Mô tả
                        </th>
                        <th style="text-align: center;">
                            Thao tác
                        </th>
                    </tr>
                </thead>
                <tbody id="products">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button class="edit" c-id="{{id}}" data-toggle="modal" data-target="#cModal">
                                 Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="https://brainfoolong.github.io/form-data-json/lib/form-data-json.min.js"></script>
    <!-- Validation -->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script type="text/javascript">
        var url = "/api/products";
        var template =
            "{{#each products}}" +
            "<tr>" +
            "<td style='text-align: center;'>{{id}}</td>" +
            "<td style='text-align: center;'>{{name}}</td>" +
            "<td style='text-align: center;'>{{price}}</td>" +
            "<td style='text-align: center;'>{{created}}</td>" +
            "<td style='text-align: center;'>{{category.name}}</td>" +
            "<td style='text-align: center;'>{{description}}</td>" +
            '<td><span style="display: flex;justify-content: center;gap: 10px;"><button style=" text-decoration: none;color: #444;background: #fff;border: 1px solid;display: inline-block;padding: 7px 20px;font-weight: bold;border-radius: 3px;transition: 0.3s ease-in-out;border-color: orange;" class="edit" c-id="{{id}}" data-toggle="modal" data-target="#cModal ">Sửa</button>' +
            '<button style="text-decoration: none;color: #444;background: #fff;border: 1px solid;display: inline-block;padding: 7px 20px;font-weight: bold;border-radius: 3px;transition: 0.3s ease-in-out;border-color: #26a69a;" class="delete" c-id="{{id}}">Xóa</span></button></td>' +
            "<tr>" +
            "{{/each}}";

        var templateHandleBar = Handlebars.compile(template);
        // Template combobox Categories
        var categoriesSelected = '<label for="category.id" class="form-label">Danh mục:</label>' +
            '<select name="category.category_id">{{#each categories}}' +
            '<option value="{{category_id}}">' +
            "{{name}}" +
            "</option>" +
            "{{/each}}</select>";
        var categorySelectedHandleBar = Handlebars.compile(categoriesSelected);

        function loadProducts() {
            fetch(url)
                .then((res) => res.json())
                .then((data) => {
                    var productHTML = templateHandleBar({
                        products: data,
                    });
                    $("#products").html(productHTML);
                    bindEdit();
                    bindDelete();
                });
        }
        loadProducts();
        // Handle Validate
        $(document).ready(function() {
            $("#cForm").validate({
                rules: {
                    name: "required"
                },
                messages: {
                    name: "Vui lòng điền tên danh mục..."
                }
            })
        });

        function bindEdit() {
            $(".edit").click(function() {
                var id = $(this).attr("c-id");
                fetch("/api/category")
                    .then((res) => res.json())
                    .then((data) => {
                        var selectedCategory = categorySelectedHandleBar({
                            categories: data,
                        });
                        fetch(url + "/" + id)
                            .then(res => res.json())
                            .then(data => {
                                var addElement = '<div class="mb-3">' +
                                    '<label for="name" class="form-label">Tên sản phẩm:</label>' +
                                    '<input name="name" value="{{name}}" class="form-control" id="name" placeholder="Tên sản phẩm...">' +
                                    '</div>';
                                addElement += '<div class="mb-3">' +
                                    '<label for="price" class="form-label">Giá bán:</label>' +
                                    '<input name="price" value="{{price}}" class="form-control" id="price" placeholder="Giá bán...">' +
                                    '</div>';
                                addElement += '<div class="mb-3">' +
                                    '<label for="images" class="form-label">Link hình ảnh:</label>' +
                                    '<input name="images" value="{{images}}" class="form-control" id="images" placeholder="Link hình ảnh...">' +
                                    '</div>';
                                addElement += selectedCategory;
                                addElement += '<div class="mb-3">' +
                                    '<label for="description" class="form-label">Mô tả:</label>' +
                                    '<input name="description" value="{{description}}" class="form-control" id="description" placeholder="Mô tả...">' +
                                    '</div>';
                                var editHandleBars = Handlebars.compile(addElement);
                                var editHTML = editHandleBars(data);
                                $("#cForm").html(editHTML);
                            });
                    });
            });
        }
        $("#save").click(function() {
            var editProduct = FormDataJson.formToJson(document.querySelector("form"));
            var id = $(this).attr("idProduct");
            var editOption = {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(editProduct)

            };
            if ($("#cForm").valid()) {
                fetch(url + "/" + id, editOption)
                    .then(response => response.json())
                    .then(data => {
                        loadProducts();
                    });
                $("#cModal").modal('hide');
            }
        });

        // bindDelete
        function bindDelete() {
            $(".delete").click(function() {
                handleDelete($(this));
            });
        }
        // handleDelete
        function handleDelete($button) {
            let ok = confirm("Xác nhận xóa?");
            if (ok == true) {
                var id = $button.attr("c-id");
                var deleteOption = {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                };
                fetch(url + "/" + id, deleteOption)
                    .then(response => {
                        loadProducts();
                    });
            }
        }
        // Select Modal
        var addModal = new bootstrap.Modal(document.getElementById('cModal'), {
            keyboard: false
        });
        // handleAdd
        $("#add").click(function() {
            addModal.show();
            fetch("/api/category")
                .then((res) => res.json())
                .then((data) => {
                    var selectedCategory = categorySelectedHandleBar({
                        categories: data,
                    });
                    var addElement = '<div class="mb-3">' +
                        '<label for="name" class="form-label">Tên sản phẩm:</label>' +
                        '<input name="name" value="" class="form-control" id="name" placeholder="Tên sản phẩm...">' +
                        '</div>';
                    addElement += '<div class="mb-3">' +
                        '<label for="price" class="form-label">Giá bán:</label>' +
                        '<input name="price" value="" class="form-control" id="price" placeholder="Giá bán...">' +
                        '</div>';
                    addElement += '<div class="mb-3">' +
                        '<label for="images" class="form-label">Link hình ảnh:</label>' +
                        '<input name="images" value="" class="form-control" id="images" placeholder="Link hình ảnh...">' +
                        '</div>';
                    addElement += selectedCategory;
                    addElement += '<div class="mb-3">' +
                        '<label for="description" class="form-label">Mô tả:</label>' +
                        '<input name="description" value="" class="form-control" id="description" placeholder="Mô tả...">' +
                        '</div>';
                    $("#cForm").html(addElement);
                });
        });
        $(".save").click(function() {
            var addProduct = FormDataJson.formToJson(document.querySelector("#cForm"));
            var createOption = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(addProduct)
            };
            if ($("#cForm").valid()) {
                fetch(url, createOption).then(res => res.json())
                    .then(data => {
                        loadProducts();
                    });
                addModal.hide();
            }
        })
        $("#cModal").submit(function() {
            var addProduct = FormDataJson.formToJson(document.querySelector("form"));
            var createOption = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(addProduct)
            };
            if ($("#cForm").valid()) {
                fetch(url, createOption).then(res => res.json())
                    .then(data => {
                        loadProducts();
                    });
                addModal.hide();
            }
        });
    </script>
</body>

</html>