<div th:fragment="otherheader">
    <div class="container-nav">
        <div class="nav-bar" th:if="${currentUser!=null and currentUser.getRole() eq 'admin'}">
            <div class="container-nav">
                <div class="nav-bar">
                    <div class="logo">
                        <a th:href="@{/home}">
                            <img th:src="@{/images/logo.png}" />
                        </a>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a th:href="@{/dashboard}" th:text="#{lo.index.dashboard}"></a>
                            </li>
                            <li>
                                <a th:href="@{#}" th:text="#{lo.index.products}"></a>
                            </li>
                            <li>
                                <a th:href="@{#}" th:text="#{lo.index.about}"></a>
                            </li>
                            <li>
                                <a th:href="@{#}" th:text="#{lo.index.contact}"></a>
                            </li>
                            <li>
                                <a>[[${currentUser.getName()}]]</a>
                            </li>

                        </ul>
                    </nav>
                    <a th:href="@{/your-cart}" class="icon">
                        <img src="/images/cart.png" />
                    </a>
                    <a class="log-out" th:href="@{/logout}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-bar" th:if="${currentUser!=null and currentUser.getRole() eq 'user'}">
            <div class="container-nav">
                <div class="nav-bar">
                    <div class="logo">
                        <a th:href="@{/home}">
                            <img th:src="@{/images/logo.png}" />
                        </a>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a th:href="@{/home}" th:text="#{lo.index.home}"></a>
                            </li>
                            <li>
                                <a th:href="@{#}" th:text="#{lo.index.products}"></a>
                            </li>
                            <li>
                                <a th:href="@{#}" th:text="#{lo.index.about}"></a>
                            </li>
                            <li>
                                <a th:href="@{#}" th:text="#{lo.index.contact}"></a>
                            </li>
                            <li>
                                <a>[[${currentUser.getName()}]]</a>
                            </li>

                        </ul>
                    </nav>
                    <a th:href="@{/your-cart}" class="icon">
                        <img src="/images/cart.png" />
                    </a>
                    <a class="log-out" th:href="@{/logout}">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="nav-bar" th:if="${currentUser==null}">
            <div class="container-nav ">
                <div class="nav-bar ">
                    <div class="logo ">
                        <a th:href="@{/home} ">
                            <img th:src="@{/images/logo.png} " />
                        </a>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a th:href="@{/dashboard} " th:text="#{lo.index.home} "></a>
                            </li>
                            <li>
                                <a href="# " th:text="#{lo.index.products} "></a>
                            </li>
                            <li>
                                <a href="# " th:text="#{lo.index.about} "></a>
                            </li>
                            <li>
                                <a href="# " th:text="#{lo.index.contact} "></a>
                            </li>
                            <li>
                                <a th:href="@{'/login?cartStatus='+${cartStatus}} ">Đăng nhập</a>
                            </li>
                        </ul>
                    </nav>
                    <a th:href="@{/your-cart} " class="icon ">
                        <img src="/images/cart.png " />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>