<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- all -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Product-->
    <link rel="stylesheet" th:href="@{css/products.css}" />
    <title>Hello</title>
</head>

<body>
    <div th:replace="Components/header :: header" th:remove="tag"></div>
    <div th:replace="Components/listproducts :: products" th:remove="tag"></div>
    <div th:replace="Components/pagin :: paginHome(${maxPage})" th:remove="tag"></div>
    <div th:replace="Components/footer :: footer" th:remove="tag"></div>
</body>

</html>