<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link rel="stylesheet" th:href="@{/css/products.css}" />
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css}" />
</head>

<body>
    <section>
        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v10.0" nonce="KRbxZ31Y"></script>
        <!-- Single Page Detail -->
        <div class="small-container single-product">
            <div class="content">
                <div class="text-content">
                    <img th:src="${proDetails.getImages()}" />
                    <div class="small-container-img">
                        <div class="small-img">
                            <img th:src="${proDetails.getImages()}" width="100%">
                        </div>
                        <div class="small-img">
                            <img th:src="${proDetails.getImages()}" width="100%">
                        </div>
                        <div class="small-img">
                            <img th:src="${proDetails.getImages()}" width="100%">
                        </div>
                        <div class="small-img">
                            <img th:src="${proDetails.getImages()}" width="100%">
                        </div>
                    </div>
                </div>
                <div class="text-content">
                    <p>Sản phẩm / Chi tiết</p>
                    <h1>[[${proDetails.getName()}]]</h1>
                    <h4>
                        [[${proDetails.getPrice()}]]
                    </h4>
                    <select>
						<option>Chọn size</option>
						<option>S</option>
						<option>M</option>
						<option>L</option>
						<option>XL</option>
					</select> <input type="number" value="1" />
                    <a class="btn-content" th:href="@{'/them-vao-gio/'+${proDetails.getId()}}">Mua ngay</a>
                    <h3>
                        Chi tiết sản phẩm <i class="fa fa-indent"></i>
                    </h3>
                    <br />
                    <p>[[${proDetails.description }]]</p>
                </div>
            </div>
            <div class="fb-comments" data-href="http://localhost:8080/FleeBounce/products?id=1" data-width="1000" data-numposts="8"></div>
        </div>
    </section>
</body>

</html>