<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/sigup.css}" />
    <title>Đăng ký</title>
</head>

<body>
    <div class="login">
        <form th:action="@{'/register?cartStatus='+${cartStatus}}" method="POST" th:object="${customer}">
            <h2>ĐĂNG KÝ</h2>
            <div class="group">
                <input type="hidden" th:field="*{id}" name="id" />
                <br />
                <input type="text" th:field="*{name}" name="name" placeholder="Họ và tên..." />
                <div th:errors="*{name}" style="color:red;margin-left: 10px;
                font-style: italic;"></div>
                <br />
                <input type="text" th:field="*{phoneNumber}" name="phoneNumber" placeholder="Số điện thoại..." />
                <div th:errors="*{phoneNumber}" style="color:red;margin-left: 10px;
                font-style: italic;"></div>
                <br />
                <input type="password" th:field="*{password}" name="password" placeholder="Mật khẩu..." />
                <div th:errors="*{password}" style="color:red;margin-left: 10px;
                font-style: italic;"></div>
                <br />
                <input type="email" th:field="*{email}" name="email" placeholder="Địa chỉ email..." />
                <div th:errors="*{email}" style="color:red;margin-left: 10px;
                font-style: italic;"></div>
                <br />
                <input type="text" th:field="*{address}" name="address" placeholder="Địa chỉ..." />
                <div th:errors="*{address}" style="color:red;margin-left: 10px;
    font-style: italic;"></div>
                <br />
            </div>
            <input class="btn-add" style="width: 200px; margin: 0 auto;" type="submit" value="Đăng ký" />
            <br />
            <a th:href="@{'/login?cartStatus='+${cartStatus}}" class="sig-up">Đăng
				nhập</a> / <a th:href="@{#}" class="forgot-password">Quên mật khẩu</a>
        </form>
    </div>
</body>

</html>