<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/products.css}">
    <title>Giỏ hàng của bạn</title>
</head>

<div th:replace="Components/otherheader :: otherheader" th:remove="tag"></div>

<body>
    <div id="table-content">
        <h2 class="pro-title" style="margin-top: 90px;">Giỏ hàng của bạn</h2>
        <section style="margin-bottom: 370px;">
            <div class="small-container">
                <div class="content cart-page" id="cartPage">
                    <table>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                        </tr>
                        <th:block th:each="cart : ${cart.cartDetails}">
                            <tr>
                                <td>
                                    <div class="cart-info">
                                        <img th:src="${cart.key.images }" />
                                        <div>
                                            <p>[[${cart.key.name }]]</p>
                                            <small>[[${cart.key.price }]]
                                                </small> <br />
                                            <button>Bỏ</button>
                                        </div>
                                    </div>
                                </td>
                                <td><button>-</button> [[${cart.value }]]
                                    <button>+</button></td>
                                <td>
                                    [[${cart.value*cart.key.price}]]
                            </tr>
                        </th:block>
                    </table>
                    <a class="btn-add" th:href="@{/check-out}">THANH TOÁN</a>
                    <h4 style="white-space: nowrap; margin: 1px auto;">hoặc</h4>
                    <a class="btn-add" th:href="@{/home}">TIẾP TỤC MUA HÀNG</a>
                </div>
            </div>
        </section>
        <div th:replace="Components/otherfooter :: otherfooter" th:remove="tag"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>
    function truSP(ev) {
        let id = $(ev.target).attr('id');
        fetch('/tru-san-pham/' + id)
            .then(response => response.text())
            .then(data => {
                $('#table-content').html(data);
            });
    }

    function congSP(ev) {
        let id = $(ev.target).attr('id');
        fetch('/them-vao-gio/' + id)
            .then(response => response.text())
            .then(data => {
                $('#table-content').html(data);
            });
    }

    function xoaSP(ev) {
        let ok = confirm("Xác nhận xóa?");
        if (ok == true) {
            let id = $(ev.target).attr('id');
            console.log(id);
            fetch('/xoa-san-pham/' + id)
                .then(response => response.text())
                .then(data => {
                    $('#table-content').html(data);
                });
        }
    }
</script>